.container{
    background-color: aqua;
}
.col-sm-4{
    margin-left: 10px;
    margin-top: 10px;
}
main{
    display:flex;
    flex-wrap:nowrap;
    height:100vh;
    height:-webkit-fill-available;
    max-height:100vh;
    overflow-x:auto;
    overflow-y:hidden
}

.myCard{
    height: 90px;
    width: 220px;
    margin-top: 10px;
    
    text-shadow: 0 2px 2px rgb(0 0 0 / 30%);
    font: bold 25px "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 2px;
    background: #9696967e;
    box-shadow:  5px 5px 10px #e7e7e7,
             -5px -5px 10px #ffffff;
    /* cursor:pointer； */
    /* transition: 0.3s; */

}
.myCard a{
    position:relative;
    margin-top: 40px;
    margin-left: 100px;
}
/* .myCard:hover{
    background: #838383;

} */
.DJ_p_row{
    margin-top: 32px;
    margin-left: 15px;
}
.DJ_icon {
    width: 100px;
    height: 100px;
    padding: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto 10px;
    box-sizing: border-box;
    border-radius: 50%;
    /* overflow: hidden; */
}

.DJ_icon img{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

}

a:link { 
    color: #000000; 
    text-decoration: none; 
} 
a:visited { 
    color: #000000; 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: underline; 
} 
